<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% comment %} Сделаем ссылку на about {% endcomment %}
    {% comment %} <a href="/about/">About</a> {% endcomment %}
    <a href="{% url 'about' %}">About</a>
    <ul>
        {% comment %} 
        id
        name
        description {% endcomment %}
        {% for category in categories %}
        <li>
            <p>{{ category.id }}</p>
            <p>{{ category.name }}</p>
            <p>{{ category.description }}</p>
            {% comment %} 
            category/1/
            {% endcomment %}
            <a href="{% url 'category' category.id %}">Подробнее</a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>