{% comment %} Представляет собой краткое
отображение постав в BS5

Переменные:
category
tags
slug
title
text
author
published_date
{% endcomment %}


<div>
    <div class="card mb-3">
        <div class="card-header">
            <h5>{{ category }}</h5>
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ title }}</h5>
            <p class="card-text">{{ text }}</p>
            <p class="card-text"><small class="text-muted">{{ author }} | {{ published_date }}</small></p>
            


</div>